.subpage_main.magazine {
  .subpage_main_image.magazine_image {
    background-image: url("src/images/12thman_cover.jpg");
    height: 350px;
    background-size: cover;
    background-position: center;
  }
}

.subpage_subimages.magazine1 {
  background-image: url("src/images/12thman_mockup.jpg");
  height: 350px;
  background-size: cover;
  background-position: center;
  transform: scale(1);
  margin-bottom: 3rem;
}

.magazine_mobile {
  display: none;
}

.magazine2 {
  img {
    width: 90%;
    margin-bottom: 3rem;

    @include image_background;
  }
}

.magazine_wrapper {
  display: flex;
}

.subpage_subimages.three.magazine3 {
  padding: 2rem;
  display: flex;
  flex-flow: column;

  img {
    width: 100%;
    margin-bottom: 1rem;
  }
}
