.home_grids {
  margin: 10% 5% 5%;
  display: grid;
  // grid-template-columns: calc(50% - 1.5%) calc(50% - 1.5%);
  // grid-column-gap: 3%;
  // grid-template-areas:
  //   "grid_hiblend grid_onemile"
  //   "grid_iheart grid_onemile"
  //   "grid_iheart grid_alterego"
  //   "grid_smithsonian grid_alterego"
  //   "grid_smithsonian grid_12thman"
  //   "grid_pictograms grid_12thman"
  //   "grid_pictograms grid_ikea"
  //   "grid_sugarfaced grid_ikea";
  grid-template-columns: calc(33% - 1.5%) calc(33% - 1.5%) calc(33% - 1.5%);
  grid-column-gap: 3%;
  grid-template-areas: "grid_hiblend grid_hiblend grid_onemile" "grid_iheart grid_alterego grid_alterego" "grid_smithsonian grid_12thman grid_pictograms" "grid_sugarfaced grid_sugarfaced grid_ikea";

  .grid_hiblend,
  .grid_onemile,
  .grid_iheart,
  .grid_alterego,
  .grid_sugarfaced,
  .grid_smithsonian,
  .grid_ikea,
  .grid_12thman {
    min-height: 350px;
  }

  .grid_crazy,
  .grid_pictograms {
    height: 450px;
  }

  .grid_hiblend {
    grid-area: grid_hiblend;
  }

  .grid_onemile {
    grid-area: grid_onemile;
  }

  .grid_iheart {
    grid-area: grid_iheart;
  }

  .grid_alterego {
    grid-area: grid_alterego;
  }

  .grid_sugarfaced {
    grid-area: grid_sugarfaced;
  }

  .grid_smithsonian {
    grid-area: grid_smithsonian;
  }

  .grid_crazy {
    grid-area: grid_crazy;
  }

  .grid_pictograms {
    grid-area: grid_pictograms;
  }

  .grid_ikea {
    grid-area: grid_ikea;
  }

  .grid_12thman {
    grid-area: grid_12thman;
  }

  &_content {
    margin-top: 30px;
  }

  &_content:nth-child(-n+2) {
    margin-top: 0;
  }

  &_content:nth-child(n+5) {
    margin-top: 30%;
  }

  &_content.grid_sugarfaced {
    margin-top: 14.5%;
  }

  &_content_one {
    background: rgba(0, 0, 0, 0) url("images/hiblend_laptop.png") no-repeat;
  }

  &_content_two {
    background: rgba(0, 0, 0, 0) url("images/onemile_display.png") no-repeat;
    // margin-top: 50%;
  }

  &_content_three {
    background: rgba(0, 0, 0, 0) url("images/iheart_mockup.jpg") no-repeat;
  }

  &_content_four {
    background: rgba(0, 0, 0, 0) url("images/alterego_laptop.png") no-repeat;
  }

  &_content_eleven {
    background: rgba(0, 0, 0, 0) url("images/htc_desktop.png") no-repeat;
  }

  &_content_five {
    background: rgba(0, 0, 0, 0) url("images/boxesFront.jpg") no-repeat;
  }

  &_content_six {
    background: rgba(0, 0, 0, 0) url("images/RachelArimoto_IKEAlogo_Page_1.png") no-repeat;
    //
    // @include image_background;
  }

  &_content_seven {
    background: rgba(0, 0, 0, 0) url("images/RachelArimoto_Olympic Pictograms_Page_2.png") no-repeat;
    //
    // @include image_background;
  }

  &_content_eight {
    background: rgba(0, 0, 0, 0) url("images/smithsonian_test.jpg") no-repeat;
  }

  &_content_nine {
    background: rgba(0, 0, 0, 0) url("images/crazylegs3.gif") no-repeat;
  }

  &_content_twelve {
    background: rgba(0, 0, 0, 0) url("images/12thman_cover.jpg") no-repeat;
  }

  .content_tall {
    height: 450px;
  }

  &_content_one,
  &_content_two,
  &_content_three,
  &_content_four,
  &_content_five,
  &_content_six,
  &_content_seven,
  &_content_eight,
  &_content_nine,
  &_content_twelve {
    @include home_grid_background;
    @include grid_hover;

    .border-test {
      .one_label {
        @include grid_hover_label;
      }

      .one_label.details {
        bottom: -73%;
      }
    }

    .content_label {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      line-height: 1.1;
      padding-bottom: 5px;
      font-size: $caption_fontsize;

      .content_label_caption {
        font-weight: 100;
        font-size: calc(14px + 0.1vw);
      }
    }
  }

  &_content_one {
    background-size: 75%;
  }

  &_content_two {
    background-position-y: 65%;
  }

  &_content_three {
    background-position: 58% 80%;
  }

  &_content_four {
    background-size: 80%;
  }

  &_content_five {
    background-position-y: 75%;
  }

  &_content_eight {
    background-position: 55% -45px;
  }

  &_content_eleven {
    background-size: 117%;
  }

  &_content_nine {
    background-size: contain;
  }

  &_content_twelve {
    background-position-y: -45px;
  }

  .content_hover::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: inherit;
    content: "";
  }

  .home_grids_content_five.content_hover {
    border-bottom: none;
  }

  .content_hover:hover {
    background-color: rgba(250, 250, 250, 0.8);
    border-bottom: none;

    .border-test {
      position: absolute;
      border-left: 1px solid black;
      border-top: 1px solid black;
      height: 50%;
      width: 85%;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 6%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;

      .one_label {
        display: block;
        line-height: 1;
        opacity: 1;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
      }

      .one_label.details {
        border: none;
        font-size: 1rem;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
        font-weight: 100;
      }
    }

    .border-test2 {
      position: absolute;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      width: 50%;
      height: 88%;
      bottom: 6%;
      right: 7.5%;
    }

    .content_label,
    .content_label_caption {
      display: none;
    }
  }

  &_content_five {
    .content_label {
      background-color: white;
      padding-top: 20px;
      border-bottom: 0.5px solid black;
    }
  }
}

.caption_break {
  display: none;
}
