.home_grids {
  margin: 0 5%;

  &_verticalBoxes {
    width: calc(50% - 2.5%);
    padding-top: 60%;
    // background: grey;
    float: left;
    margin-top: 10%;
  }

  &_horizontalBoxes {
    width: calc(50% - 2.5%);
    padding-top: 40%;
    // background: blue;
    float: right;
    margin-top: 10%;
  }

  &_verticalBoxes.one {
    background: rgba(0, 0, 0, 0) url("images/alterego_laptop.png") no-repeat;
    background-size: 130%;
    background-position: center;
    background-position-y: bottom;

    @include grid_hover;

    .one_label {
      @include grid_hover_label;

      bottom: -60%;
    }

    .one_label.details {
      bottom: -69%;
    }
  }

  &_verticalBoxes.one.ten {
    float: left;
    background: rgba(0, 0, 0, 0) url("images/12thman_cover.jpg") no-repeat;
    background-size: 150%;
    background-position: center;
    margin-top: 10%;
    padding-top: 49%;

    @include grid_hover;

    .one_label {
      @include grid_hover_label;

      bottom: -53%;
    }

    .details {
      bottom: -64%;
    }
  }

  &_horizontalBoxes.two {
    padding-top: 33%;
    background: rgba(0, 0, 0, 0) url("images/boxesFront.jpg") no-repeat;
    background-size: 130%;
    background-position: center;

    @include grid_hover;

    .border-test {
      .one_label {
        bottom: -54%;

        @include grid_hover_label;
      }

      .one_label.details {
        bottom: -69%;
      }
    }
  }

  &_horizontalBoxes.three {
    width: calc(43% - 2.5%);
    padding-top: 33%;
    background: rgba(0, 0, 0, 0) url("images/RachelArimoto_IKEAlogo_Page_1.png") no-repeat;
    background-size: 130%;

    @include image_background;
    @include grid_hover;

    .border-test {
      .one_label {
        @include grid_hover_label;

        bottom: -54%;
      }

      .details {
        bottom: -71%;
      }
    }
  }

  &_verticalBoxes.four {
    width: calc(41% - 2.5%);
    padding-top: 60%;
    background: rgba(0, 0, 0, 0) url("images/RachelArimoto_Olympic Pictograms_Page_2.png") no-repeat;
    background-size: 160%;
    margin-top: 7%;

    @include image_background;
    @include grid_hover;

    .one_label {
      line-height: 0.9;
      bottom: -50%;

      @include grid_hover_label;
    }

    .one_label.details {
      bottom: -61%;
    }
  }

  &_horizontalBoxes.five {
    width: calc(57% - 2.5%);
    padding-top: 35%;
    background: rgba(0, 0, 0, 0) url("images/iheart_mockup.jpg") no-repeat;
    background-size: 155%;
    background-position: 59%;

    @include grid_hover;

    .border-test {
      .one_label {
        bottom: -49%;

        @include grid_hover_label;
      }

      .details {
        bottom: -65%;
      }
    }
  }

  &_horizontalBoxes.six {
    background: rgba(0, 0, 0, 0) url("images/smithsonian_test.jpg") no-repeat;
    background-size: 100%;
    background-color: transparent;
    background-position: center;

    @include grid_hover;

    .one_label {
      @include grid_hover_label;

      bottom: -48%;
    }

    .one_label.details {
      bottom: -63%;
    }
  }

  &_horizontalBoxes.seven {
    float: left;
    background: rgba(0, 0, 0, 0) url("images/onemile_display.png") no-repeat;
    background-size: 250%;
    background-position: center;

    @include grid_hover;

    .one_label {
      bottom: -47%;

      @include grid_hover_label;
    }

    .details {
      bottom: -60%;
    }
  }

  &_verticalBoxes.four.second {
    background-image: none;
    background-color: transparent;
    padding-top: 0;
    float: right;
    box-shadow: none;
    margin-top: 12%;

    img {
      width: 100%;
    }

    .border-test {
      .one_label {
        bottom: -51%;
      }

      .details {
        bottom: -60%;
      }
    }

    .border-test2 {
      width: 30% !important;
    }
  }

  &_horizontalBoxes.five.eight {
    float: left;
    background: rgba(0, 0, 0, 0) url("images/RachelArimoto_CityLogo_bw.png") no-repeat;
    background-size: 87%;
    margin-top: 12%;
    width: calc(57% - 2.5%);

    @include image_background;

    .details {
      bottom: -66%;
    }
  }

  .nine {
    float: left;
    background: rgba(0, 0, 0, 0) url("images/hiblend_laptop.png") no-repeat;
    box-shadow: none;
    background-size: 130%;
    background-position: center;

    .details {
      bottom: -69%;
    }
  }

  .two.eleven {
    background: rgba(0, 0, 0, 0) url("images/htc_desktop.png") no-repeat;
    box-shadow: none;
    background-size: 145%;
    background-position: 59%;
    margin-top: 12%;
    padding-top: 37%;

    .one_label {
      line-height: 0.9;
      bottom: -50%;
    }

    .details {
      bottom: -68%;
    }
  }

  .one::before,
  .two::before,
  .three::before,
  .four::before,
  .five::before,
  .six::before,
  .seven::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: inherit;
    content: "";
  }

  .one_label.details {
    color: black;
    font-size: 1rem;
    padding-top: 0;
    opacity: 0;
  }

  .one:hover,
  .two:hover,
  .three:hover,
  .one.ten:hover,
  .four:hover,
  .five:hover,
  .six:hover,
  .seven:hover {
    background-color: rgba(250, 250, 250, 0.8);

    .border-test {
      position: absolute;
      border-left: 1px solid black;
      border-top: 1px solid black;
      height: 50%;
      width: 85%;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 6%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;

      .one_label {
        display: block;
        opacity: 1;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
      }

      .one_label.details {
        border: none;
        font-size: 1rem;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
      }
    }

    .border-test2 {
      position: absolute;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      width: 50%;
      height: 88%;
      bottom: 6%;
      right: 7.5%;
    }
  }
}
