.home_grids {
  margin: 0 5%;

  &_verticalBoxes {
    width: calc(50% - 2.5%);
    padding-top: 60%;
    // background: grey;
    float: left;
    margin-top: 7%;
  }

  &_horizontalBoxes {
    width: calc(50% - 2.5%);
    padding-top: 40%;
    // background: blue;
    float: right;
    margin-top: 7%;
  }

  &_verticalBoxes.one {
    background-image: url("images/alterego_laptop.png");
    background-size: 130%;
    background-position: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
  }

  &_verticalBoxes.one.ten {
    float: left;
    background-image: url("images/12thman_cover.jpg");
    background-size: 150%;
    background-position: center;
    margin-top: 2%;
  }

  &_horizontalBoxes.two {
    padding-top: 33%;
    background-image: url("images/boxesFront.jpg");
    background-size: 130%;

    @include image_background;
  }

  &_horizontalBoxes.three {
    width: calc(40% - 2.5%);
    padding-top: 33%;
    background-image: url("images/RachelArimoto_IKEAlogo_Page_1.png");
    background-size: 130%;

    @include image_background;
  }

  &_verticalBoxes.four {
    width: calc(40% - 2.5%);
    padding-top: 60%;
    background-image: url("images/RachelArimoto_Olympic Pictograms_Page_2.png");
    background-size: 150%;

    @include image_background;
  }

  &_horizontalBoxes.five {
    width: calc(60% - 2.5%);
    padding-top: 35%;
    background-image: url("images/iheart_mockup.jpg");
    background-size: 155%;
    background-position: center;
  }

  &_horizontalBoxes.six {
    background-image: url("images/smithsonian_test.jpg");
    background-size: 100%;
    background-color: transparent;
    background-position: center;
  }

  &_horizontalBoxes.seven {
    float: left;
    background-image: url("images/onemile_display.png");
    background-size: 250%;
    background-position: center;
  }

  &_verticalBoxes.four.second {
    background-image: none;
    background-color: transparent;
    padding-top: 0;
    float: right;
    box-shadow: none;

    img {
      width: 100%;
    }
  }

  &_horizontalBoxes.five.eight {
    float: left;
    background-image: url("images/RachelArimoto_Citylogo_bw.png");
    background-size: 87%;

    @include image_background;
  }

  .nine {
    float: left;
    background-image: url("images/hiblend_laptop.png");
    box-shadow: none;
    background-size: 130%;
    background-position: center;
  }

  .eleven {
    background-image: url("images/htc_desktop.png");
    box-shadow: none;
    transform: scale(1.2);
    background-position: center;
  }
}
