.home_intro {
  z-index: 1;
  position: absolute;
  left: -30px;
  top: 30px;

  h1 {
    font-weight: $heavy_fontweight;
    // margin-left: 5px;
    line-height: 1.25;

    span {
      font-weight: $light_fontweight;
      font-size: $subhead_fontsize;
      margin-left: -10px;
    }
  }

  h2 {
    margin-left: 2px;
    letter-spacing: -1px;
    line-height: 0;

    span {
      font-weight: $light_fontweight;
      font-size: $subhead_fontsize;
    }
  }
}

.centerbox {
  margin-top: 40px;

  .home_left {
    p {
      line-height: 1.25;

      span {
        font-weight: $heavy_fontweight;
        font-size: $paragraph_fontsize;
      }
    }

    .home_left_statement {
      margin-top: 150px;

      h3 {
        font-family: $fjalla;
        text-transform: uppercase;
        line-height: 1.1;
        color: $light_fontcolor;
      }

      h4 {
        margin-top: 15px;
        font-family: $fjalla;
        text-transform: uppercase;
        line-height: 0.99;
      }
    }

    &_contact {
      margin-top: 40px;

      span {
        margin-left: 15px;
      }

      .email {
        font-size: $paragraph_fontsize;
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
