.home_intro {
  z-index: 1;
  position: absolute;
  left: -$base_margin;
  top: $base_margin;

  h1 {
    line-height: 1.6;
    letter-spacing: -1px;
    font-weight: $heavy_fontweight;
  }

  h2 {
    letter-spacing: -1px;
    line-height: 0;
    font-size: $header_fontsize;
  }
}

.centerbox {
  position: absolute;
  left: 30px;
  top: 15px;

  .home_left {
    display: flex;
    flex-direction: column;

    p {
      line-height: 1.25;
      font-size: $caption_fontsize;
      text-align: right;
      width: 70%;
      align-self: flex-end;

      span {
        font-weight: $heavy_fontweight;
        font-size: $caption_fontsize;
      }
    }

    .home_left_intro {
      margin-top: 80px;

      p {
        text-align: left;
        font-size: $paragraph_fontsize;
        width: 100%;

        span {
          font-size: $paragraph_fontsize;
        }
      }
    }

    .home_left_statement {
      margin-top: 120px;

      h3 {
        font-family: $fjalla;
        text-transform: uppercase;
        line-height: 1.1;
        color: $light_fontcolor;
      }

      h4 {
        margin-top: 15px;
        font-family: $fjalla;
        text-transform: uppercase;
        line-height: 0.99;
      }
    }

    .home_left_contact {
      margin-top: 40px;

      .email,
      .phone {
        text-align: left;
        width: 100%;
        font-size: $paragraph_fontsize;
        color: inherit;

        span {
          margin-left: 15px;
          font-size: $paragraph_fontsize;
        }
      }
    }
  }
}

.centerbox.right {
  position: static;
}
