.toggle {
  position: fixed;
  z-index: 1;
  bottom: 0;
  background: rgba(42, 42, 42, 0.85);
  width: 60vw;
  right: 0;
  text-align: center;

  .toggle_button {
    a {
      display: inline-flex;
      padding: 0.4rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: $heavy_fontweight;
      color: $lightbackground;
    }
  }

  ul {
    display: none;
  }
}

.toggle.open {
  transition: 0.5s ease;

  ul {
    display: block;
    text-align: center;
    list-style: none;
    padding: 1rem 0;

    a {
      text-decoration: none;
      color: $light_fontcolor;
      font-weight: $light_fontweight;
    }
  }
}

// .side_nav {
//   position: fixed;
//   z-index: 2;
//   top: 45%;
//   left: -1.5%;
//   -webkit-transform: rotate(-90deg);
//   -moz-transform: rotate(-90deg);
//   -ms-transform: rotate(-90deg);
//   -o-transform: rotate(-90deg);
//
//   a {
//     // text-decoration: none;
//     color: inherit;
//     font-size: $paragraph_fontsize;
//   }
// }

.hamburger_home {
  position: fixed;
  width: 60px;
  top: 7vw;
  left: 45px;
  z-index: 6;
  height: 36px;

  .arrow {
    @include links;

    font-size: calc(20px + 2vw);
    line-height: 36px;
    position: absolute;
    left: -25px;
    font-weight: 500;
  }

  &_ra {
    font-weight: $light_fontweight;
    font-size: calc(18px + 1vw);
    text-decoration: none;
    letter-spacing: -2px;
    color: $nav_color;
    line-height: 36px;
  }
}
