.toggle {
  position: fixed;
  z-index: 1;
  bottom: 0;
  background: $darkbackground;
  width: 100%;
  // right: 0;

  .toggle_button {
    a {
      display: block;
      padding: 0.2rem 0.75rem 0.1rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: $heavy_fontweight;
      color: $lightbackground;
      text-align: center;
    }
  }

  ul {
    display: none;
  }
}

.toggle.open {
  ul {
    display: block;
    text-align: center;
    list-style: none;
    padding: 0;

    a {
      text-decoration: none;
      color: $light_fontcolor;
      font-weight: $light_fontweight;
    }
  }
}

.side_nav {
  position: fixed;
  z-index: 2;
  top: 225px;
  left: -5px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);

  a {
    text-decoration: none;
    color: inherit;
    font-size: $paragraph_fontsize;
  }
}

.hamburger_home {
  position: fixed;
  top: 60px;
  left: $base_margin;
  z-index: 2;

  &_ra {
    font-weight: $heavy_fontweight;
    font-size: 2.75rem;
    text-decoration: none;
    letter-spacing: -6px;
    color: $nav_color;
    line-height: 0;
  }

  .toggle_button {
    margin: 3px;

    span {
      display: block;
      width: 52px;
      height: 8px;
      background-color: $nav_color;
      margin: 0.19rem 0;
    }
  }
}
