.subpage_main {
  margin-top: 15%;

  h2,
  .subpage_main_content_category {
    text-transform: uppercase;
  }

  h2 {
    font-family: $fjalla;
    line-height: 1;
  }

  .subpage_main_image {
    margin-bottom: 25px;

    img {
      width: 100%;
    }
  }

  .subpage_main_content_category {
    margin-bottom: 20px;
  }
}
