
.subpage_main_image.alterego_image {
  background-image: url("images/alterego_transparent.png");
  height: 350px;
  background-size: cover;
  background-position: center;
  transform: scale(1.2);
}

.subpage_main_content {
  position: relative;

  a {
    @include view_links;
  }
}

.subpage_subimages {
  text-align: center;
}

.subpage_subimages.one.alterego1 {
  background-image: url("images/alterego_displays.png");
  width: 100%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2rem 0;
}

.subpage_subimages.two {
  text-align: right;
  margin-right: 3%;
  position: relative;
  margin-top: 10rem;

  img {
    width: 78%;
  }

  .sidebar_caption_box {
    @include image_captions_background;

    margin-bottom: 2rem;
    left: 25%;

    .sidebar_caption {
      @include image_captions;
    }
  }

  .sidebar {
    width: 25%;
    position: absolute;
    left: 3%;
    top: -30%;
  }
}

.subpage_subimages.three {
  background: #f2f5f5;
  padding: 3rem 0;
  position: relative;

  img {
    width: calc(30% - 2%);
    vertical-align: top;
    margin-right: 2%;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
  }

  img:last-of-type {
    margin-right: 0;
  }
}
