
.subpage_main_image.alterego_image {
  background-image: url("src/images/alterego_laptop.png");
  height: 300px;
  background-size: 130%;
  background-position: center;
}

.subpage_main_content {
  position: relative;

  a {
    @include view_links;
  }
}

.subpage_subimages {
  text-align: center;
}

.subpage_subimages.one.alterego1 {
  background-image: url("src/images/alterego_displays.png");
  width: 100%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2rem 0;
}

.subpage_subimages.alterego2 {
  padding: 2rem 0;

  img {
    @include large_closeup_spacing;
  }
}

.subpage_subimages.three.alterego3 {
  padding: 2rem 0 0;

  img {
    @include twoimage_spacing;
  }
}
