
.subpage_main_image.hiblend_image {
  background-image: url("images/hiblend_laptop.png");
  height: 350px;
  background-size: contain;
  background-position: center;
  transform: scale(1.3);
  background-repeat: no-repeat;
}

.subpage_main_content {
  position: relative;

  a {
    @include view_links;
  }
}

.subpage_subimages {
  text-align: center;
}

.subpage_subimages.one.hiblend {
  background-image: url("images/hiblend_displays.png");
  width: 100%;
  height: 300px;
  background-position: center;
  transform: scale(1.25);
}

.subpage_subimages.three.hiblend1 {
  background: #f2f5f5;
  padding: 5rem 0;
  position: relative;

  img {
    vertical-align: top;

    @include image_background;
    @include oneimage_spacing;
  }

  img:last-of-type {
    margin-right: 0;
  }
}
