.subpage_subimages.ikea1 {
  background-image: url("images/ikea_branding2.jpg");
  height: 500px;
  background-size: cover;
  background-position: center;
  transform: scale(1);
  margin-bottom: 3rem;
}

.ikea2 {
  img {
    width: 90%;
    margin-bottom: 3rem;

    @include image_background;
  }
}
