
.subpage_main_image.iheart_image {
  background-image: url("images/iheart_mockup.png");
  height: 350px;
  background-size: cover;
  background-position: center;
  transform: scale(1.2);
}

.subpage_main_content {
  position: relative;

  .view {
    @include view_button;
  }

  .next {
    @include view_links;

    line-height: 42px;
  }
}

.subpage_subimages {
  text-align: center;
}

.subpage_subimages.one {
  background-image: url("images/iheart_home.jpg");
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.subpage_subimages.two {
  text-align: right;
  margin-right: 3%;
  position: relative;
  margin-top: 10rem;

  img {
    width: 78%;
  }

  .sidebar_caption_box {
    @include image_captions_background;

    margin-bottom: 2rem;
    left: 25%;

    .sidebar_caption {
      @include image_captions;
    }
  }

  .sidebar {
    width: 25%;
    position: absolute;
    left: 3%;
    top: -30%;

    @include image_background;
  }
}

.subpage_subimages.three {
  background: #f2f5f5;
  padding: 5rem 0;
  position: relative;

  img {
    width: calc(30% - 2%);
    vertical-align: top;
    margin-right: 2%;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  }

  img:last-of-type {
    margin-right: 0;
  }
}
