.subpage_subimages.ikea1 {
  img {
    width: 90%;
  }

  margin-bottom: 3rem;
  background: #ccc4b1;
}

.ikea2 {
  img {
    width: 90%;
    margin-bottom: 3rem;

    @include image_background;
  }
}
