//homepage
@media screen and (max-width: 1365px) {
  .caption_break {
    display: block;
  }

  .centerbox {
    .home_left {
      .blurb {
        font-size: 16px;

        span {
          font-size: 16px;
        }
      }

      .home_left_contact {
        .email,
        .phone {
          span {
            margin-left: 0;
            font-size: calc(17.5px + 0.2vw);
          }
        }
      }
    }
  }

  .home_grids {
    &_content {
      &_three {
        background-position-y: 50%;
      }

      &_eight,
      &_twelve {
        background-position-y: -60px;
      }

      &_seven {
        background-position-y: -20px;
      }
    }

    &_content_two {
      background-size: 225%;
    }

    &_content_three {
      background-size: 175%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    display: block;
    background-color: #f0f0f0;
    padding-bottom: 10%;

    .left_fixed {
      width: 67%;
      height: auto;
      display: block;
      padding-left: 0;
      position: relative;
      z-index: 5;
      background-color: transparent;
      border: none;
      margin-left: 55px;

      .centerbox {
        height: auto;
        width: 98%;
        position: relative;
        left: 0;
        top: 100px;
        margin-bottom: 10%;

        .home_left {
          display: grid;

          .blurb {
            display: none;
          }
        }

        .home_left_intro,
        .home_left_statement {
          top: 0;

          .home_left_contact {
            margin-top: 0;
            display: inline-flex;

            .caption_break {
              display: none;
            }
          }
        }

        .home_left_intro {
          .arrowed {
            left: -43px;
          }
        }
      }
    }
  }

  .home_intro {
    position: fixed;
    top: 0;
    left: 20px;
  }

  .right_scroll {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-bottom: 0;

    .left_fixed {
      width: 100%;
      padding: 0 3% 15% 55px;
      margin-left: 0;
    }
  }

  .home_grids {
    display: block;
    margin-top: 0;

    &_content:nth-child(n+5) {
      margin-top: 10%;
    }

    &_content.grid_sugarfaced {
      margin-top: 10%;
    }

    &_content.grid_pictograms {
      margin-top: 5%;
    }

    &_content.grid_ikea {
      margin-top: 0;
    }

    &_content.grid_12thman {
      margin-top: 0;
    }

    &_content {
      &_one {
        background-size: 67vw;
      }

      &_two {
        background-size: 100vw;
        background-position: 50% 70%;
      }

      &_three {
        background-size: 78vw;
        background-position: 35% 120%;
      }

      &_four {
        background-size: 75vw;
        background-position-y: bottom;
      }

      &_five {
        border-bottom: none;

        .content_label {
          background-color: white;
          padding-top: 20px;
          border-bottom: 0.5px solid black;
        }
      }

      &_eight.content_tall {
        height: 350px;
        background-position-y: 58%;
        border-bottom: none;

        .content_label {
          background-color: white;
          padding-top: 20px;
          border-bottom: 0.5px solid black;
        }
      }

      &_seven.content_tall {
        height: 400px;
        background-size: 50vw;
        background-position: 52% 79%;
      }

      &_six {
        background-position-y: 57%;
        min-height: 300px;
      }

      &_twelve.content_tall {
        height: 400px;
        border-bottom: none;

        .content_label {
          background-color: white;
          padding-top: 20px;
          border-bottom: 0.5px solid black;
        }
      }
    }
  }
}

@media screen and (max-width: 736px) {
  .container {
    .left_fixed {
      padding-bottom: 30%;
    }
  }

  .home_grids {
    .grid_hiblend,
    .grid_onemile,
    .grid_iheart,
    .grid_alterego,
    .grid_sugarfaced,
    .grid_smithsonian,
    .grid_ikea,
    .grid_12thman {
      min-height: 250px;
    }

    .grid_pictograms {
      height: 250px;
    }

    &_content {
      min-height: 250px;

      &_one,
      &_two,
      &_three,
      &_four,
      &_five,
      &_six,
      &_seven,
      &_eight,
      &_nine,
      &_twelve {
        min-height: 250px;
      }

      &_two,
      &_three,
      &_four {
        background-position-y: top;
      }

      &_eight.content_tall,
      &_seven.content_tall {
        height: 250px;
        background-position-y: bottom;
      }

      &_seven.content_tall {
        background-size: contain;
        background-position-y: -20px;
      }

      &_six {
        min-height: 250px;
      }

      &_twelve.content_tall {
        height: 250px;
        margin-top: 10%;
        background-position-y: -30px;
      }
    }
  }
}

//subpages
@media screen and (max-width: 768px) {
  .container.subpage_container {
    .left_fixed {
      padding: 0;
      padding-top: 5%;

      .centerbox {
        top: 0;
        margin-bottom: 0;
        width: 90%;

        .subpage_main {
          margin-top: 10%;
          padding-bottom: 5%;

          &_image.alterego_image {
            background-size: 80vw;
          }
        }
      }
    }

    //alterego
    .subpage_subimages.three.alterego3 img,
    .subpage_subimages.three.alterego2 img {
      width: 80%;
    }

    .subpage_subimages.three.alterego3 img:nth-child(1) {
      padding-bottom: 2rem;
    }

    //sugarfaced
    .sugarfaced1 {
      margin-bottom: 0;

      img {
        width: 100%;
      }
    }

    .sugarfaced2 {
      img {
        width: 100%;
        margin-bottom: 0;
      }
    }

    .sugarfaced4 {
      display: inline-flex;
      justify-content: space-around;

      img {
        width: 33%;
        margin: 0;
      }
    }

    //smithsonian
    .smithsonian {
      &_image {
        height: auto;
        min-height: 300px;
        transform: none;
      }
    }

    //pictograms
    .subpage_main_pictograms {
      margin-top: 0;

      .subpage_main_image {
        margin-bottom: 0;
        text-align: center;
        background-color: #f0f0f0;

        img {
          width: 50%;
        }
      }
    }
  }

  //iheart
  .subpage_container_iheart {
    .subpage_subimages.three img {
      width: 80%;
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  //ikea
  .subpage_container_ikea {
    .subpage_main_image.ikea {
      background-color: #f0f0f0;
      text-align: center;

      img {
        mix-blend-mode: multiply;
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
    }

    .ikea2 {
      img {
        width: 80%;
      }
    }
  }

  //12thman
  .subpage_container_12th {
    .subpage_main.magazine {
      .magazine_mobile {
        display: block;
      }

      .subpage_main_image.magazine_image {
        display: none;
      }
    }

    .right_scroll {
      .subpage_subimages.magazine1 {
        display: none;
      }

      .magazine2 {
        img {
          width: 100%;
          margin-bottom: 0;
        }
      }

      .magazine_wrapper {
        display: block;

        .subpage_subimages.three.magazine3:first-child {
          padding-bottom: 0;
          display: none;
        }

        .subpage_subimages.three.magazine3:nth-child(2) {
          img:nth-child(-n+2) {
            display: none;
          }
        }
      }
    }
  }
}
