
.subpage_main_image.onemile_image {
  background-image: url("images/onemile_display.png");
  height: 350px;
  background-size: cover;
  background-position: center;
  transform: scale(1.3);
}

.subpage_main_content {
  position: relative;

  a {
    @include view_links;
  }
}

.subpage_subimages {
  text-align: center;
}

.subpage_subimages.one.onemile1 {
  background-image: url("images/oneMile_laptop.png");
  width: 100%;
  height: 300px;
  background-size: 130%;
  background-position: center;
}

.subpage_subimages.two {
  text-align: right;
  margin-right: 3%;
  position: relative;
  margin-top: 3rem;

  img {
    width: 78%;
  }

  .sidebar_caption_box {
    @include image_captions_background;

    margin-bottom: 2rem;
    left: 25%;

    .sidebar_caption {
      @include image_captions;
    }
  }

  .navCloseup {
    width: 90%;
    position: absolute;
    left: 3%;
    top: 7%;

    @include image_background;
  }
}

.subpage_subimages.three.onemile2 {
  background: #f2f5f5;
  padding: 3rem 0;
  position: relative;

  img {
    vertical-align: top;

    @include image_background;
    @include threeimage_spacing;
  }

  img:last-of-type {
    margin-right: 0;
  }

  .onemile_home {
    @include oneimage_spacing;

    margin-bottom: 3rem;
  }

  .onemile_home:last-of-type {
    margin-bottom: 0;
    margin-right: 7px;
  }
}
