.pictograms {
  img {
    mix-blend-mode: multiply;
    transform: scale(1.5);
  }
}

.subpage_subimages.pictograms1 {
  background-image: url("images/pictograms_white.png");
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1);
  margin-bottom: 3rem;
  margin-top: 10%;
}
