.subpage_subimages.prague1 {
  background-image: url("images/prague-mugs.jpg");
  height: 350px;
  background-size: cover;
  background-position: center;
  transform: scale(1);
  margin-bottom: 3rem;
}

.prague2 {
  img {
    width: 90%;
    margin-bottom: 3rem;

    @include image_background;
  }
}
