.smithsonian {
  .smithsonian_image {
    background-image: url("src/images/smithsonian_test.jpg");
    height: 350px;
    background-size: cover;
    background-position: center;
    transform: scale(1.1);
  }
}

.subpage_subimages.brochure {
  background-image: url("src/images/smithsonian2.jpg");
  height: 350px;
  background-size: cover;
  background-position: center;
  transform: scale(1);
  margin-bottom: 3rem;
}

.brochure2 {
  img {
    width: 90%;
    margin-bottom: 3rem;

    @include image_background;
  }
}
