.sugarfaced {
  background-image: url("images/boxesFront.jpg");
  background-size: 130%;
  background-position: center;
  height: 290px;
}

.subpage_subimages.sugarfaced1 {
  background-image: url("images/boxes+candY2.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
  margin-bottom: 3rem;
}

.sugarfaced2 {
  img {
    width: 90%;
    margin-bottom: 3rem;

    @include image_background;
  }
}

.sugarfaced3 {
  margin-bottom: 3rem;

  img {
    width: calc(45% - 2%);
    vertical-align: top;
    margin-right: 15px;
  }

  img:last-of-type {
    margin-right: 0;
  }
}
